In [103]:
'''
CITIES THAT WERE DELETED:
- NEW ZEALAND
- ROME
- LISBON
- IRELAND
- LOS ANGELES
- MALAGA
'''

'\nCITIES THAT WERE DELETED:\n- NEW ZEALAND\n- ROME\n- LISBON\n- IRELAND\n- LOS ANGELES\n- MALAGA\n'

In [104]:
import pandas as pd
import numpy as np

Start by looking into the data we have + what we actually need to use/keep for the assignment

In [105]:
# make a function to convert the calendar.csv.gz file to a usable data frame within the code

def get_calendar(file_path):  # remember to use the relative file path

    calendar = pd.read_csv(file_path)

    # claculate how many days the property is available for in each month 
    calendar["date"] = pd.to_datetime(calendar["date"])
    calendar["month"] = calendar["date"].dt.month
    calendar["year"] = calendar["date"].dt.year
    all_dates = calendar["date"].unique()
    all_properties = calendar["listing_id"].unique()



    # count how many days are available per month per property
    for property in all_properties:
        days_available = 0





get_calendar("home_rentals\Amsterdam\calendar.csv.gz")
calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,month,year,month_year
0,2818,2022-09-07,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
1,2818,2022-09-08,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
2,2818,2022-09-09,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
3,2818,2022-09-10,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
4,2818,2022-09-11,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
...,...,...,...,...,...,...,...,...,...,...
2515206,515088,2023-09-02,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515207,515088,2023-09-03,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515208,515088,2023-09-04,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515209,515088,2023-09-05,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515210,515088,2023-09-06,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023

In [106]:

calendar = pd.read_csv("home_rentals\Amsterdam\calendar.csv.gz")

# claculate how many days the property is available for in each month 
calendar["date"] = pd.to_datetime(calendar["date"])
calendar["month"] = calendar["date"].dt.month
calendar["year"] = calendar["date"].dt.year
calendar['month_year'] = calendar['month'].astype(str) + '-' + calendar['year'].astype(str)

# make a list with all of the months and properties in the location
all_dates = calendar["month_year"].unique()
all_properties = calendar["listing_id"].unique()

for property in all_properties:
    days_available = np.zeros((1,len(all_dates)))
    rownumber = 1
    datenumber = 0

    if calendar["available"][0] == "t":
            days_available[0] += 1

    while all_dates[rownumber] == all_dates[rownumber-1]:
        if calendar["available"][rownumber] == "t":
            days_available[datenumber] += 1
        rownumber +=1 


    '''
    for row in calendar:
         if all_dates[rownumber] == all_dates[rownumber-1]:
            if calendar["available"][rownumber] == "t":
                days_available[datenumber] += 1
        rownumber +=1 
    '''

print(days_available)

calendar

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,month,year,month_year
0,2818,2022-09-07,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
1,2818,2022-09-08,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
2,2818,2022-09-09,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
3,2818,2022-09-10,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
4,2818,2022-09-11,f,$49.00,$49.00,3.0,1125.0,9,2022,9-2022
...,...,...,...,...,...,...,...,...,...,...
2515206,515088,2023-09-02,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515207,515088,2023-09-03,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515208,515088,2023-09-04,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515209,515088,2023-09-05,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023
2515210,515088,2023-09-06,t,$120.00,$120.00,2.0,20.0,9,2023,9-2023

In [107]:
only_2818 = calendar[(calendar["listing_id"]==2818)]

only_2818[only_2818["month_year"]=="10-2022"]

only_2818["month_year"].unique()

array(['9-2022', '10-2022', '11-2022', '12-2022', '1-2023', '2-2023',
       '3-2023', '4-2023', '5-2023', '6-2023', '7-2023', '8-2023',
       '9-2023'], dtype=object)

In [109]:
available_by_month = calendar[calendar['available'] == 't'].groupby(['listing_id', 'month_year']).size().reset_index(name='count_t')

available_by_month

               listing_id month_year  count_t
0                    2818    10-2022        8
1                    2818    11-2022        6
2                   27886     1-2023       25
3                   27886    11-2022        9
4                   27886    12-2022       18
...                   ...        ...      ...
30121  709907213897529402     9-2023        6
30122  709986109543860789    10-2022       31
30123  709986109543860789    11-2022       30
30124  709986109543860789    12-2022       11
30125  709986109543860789     9-2022       20

[30126 rows x 3 columns]