In [15]:
import pandas as pd
import numpy as np

Make a function to calculate the average availability per location, and generate a new data frame with the results

In [4]:
# NOTE: due to the use of both Macbooks and Windows computers in the project, the file path uses either / or \ in the file path
# as such, we have included a boolean to change the file path such that it works for the user's computer

macbook = False

import pandas as pd 

# now make a data frame with the average number of rentals per month per location. 
# In order to do this, have to use the same code as above for each city 

# Make a function such that it's easier to use for all locations
def avg_availability_location(location_name):
    # read the file for the location (for now, use Amsterdam)
    if macbook == False:
        location_path = "home_rentals" + location_name + "\calendar.csv.gz"
    if macbook == True:
        location_path = "home_rentals" + location_name + "/calendar.csv.gz"

    calendar = pd.read_csv(location_path)

    # make a new column which only has month-year 
    calendar["date"] = pd.to_datetime(calendar["date"])
    calendar["month"] = calendar["date"].dt.month
    calendar["year"] = calendar["date"].dt.year
    calendar['month_year'] = calendar['month'].astype(str) + '-' + calendar['year'].astype(str)

    # make the new data frame
    available_by_month = (calendar[calendar['available'] == 't'].groupby(['listing_id', 'month_year']).size().unstack(fill_value=0).stack().reset_index(name='days_available'))

    # Calculate the average days_available for each month_year (making sure that it rounds to full numbers)
    average_by_month = (available_by_month.groupby('month_year')['days_available'].mean().round(0).reset_index(name='average_days_available'))

    # convert the month_year column to datetime format 
    average_by_month['month_year'] = pd.to_datetime(average_by_month['month_year'], format='%m-%Y').dt.to_period('M')

    # sort the rows by ascending dates
    average_by_month = average_by_month.sort_values('month_year')

    # reset the row index
    average_by_month.reset_index(drop=True, inplace=True)

    # add the name of the location to the data frame 
    average_by_month["location"] = location_name[1:]

    return average_by_month



# run the function for each location, appending the location's df to an empty one for all of the locations

all_locations = [r"\Amsterdam", r"\Barcelona", r"\Euskadi", r"\Geneva", r"\Ireland", r"\Lisbon", r"\Los Angeles", r"\Madrid", r"\Malaga", r"\Mallorca", r"\Malta", r"\Menorca", r"\Mexico City", r"\Milan",
                 r"\Naples", r"\Rome", r"\Rotterdam", r"\San Diego", r"\San Francisco", r"\Tokyo", r"\Toronto", r"\Valencia", r"\Vancouver", r"\Vienna", r"\Washington", r"\Winnipeg", r"\Zurich"]

counter = 0
if macbook == True:
    for location in all_locations:
        # Convert the string to a list of characters
        str_location = list(location)
        str_location[0] = "/"
        # Join the list back into a string
        location = ''.join(str_location)
        all_locations[counter] = location
        counter +=1

available_all_loc = pd.DataFrame()

# Create a list to store DataFrames for each location
dfs_list = []

for location in all_locations:
    average_by_month = avg_availability_location(location)
    dfs_list.append(average_by_month)


# Concatenate all DataFrames in the list
available_all_loc = pd.concat(dfs_list, ignore_index=True)

# visualise the final data frame
available_all_loc

    month_year  average_days_available   location
0      2022-09                     4.0  Amsterdam
1      2022-10                     8.0  Amsterdam
2      2022-11                    12.0  Amsterdam
3      2022-12                    12.0  Amsterdam
4      2023-01                    14.0  Amsterdam
..         ...                     ...        ...
347    2023-05                    17.0     Zurich
348    2023-06                    16.0     Zurich
349    2023-07                    16.0     Zurich
350    2023-08                    17.0     Zurich
351    2023-09                    12.0     Zurich

[352 rows x 3 columns]

In [6]:
# check that each location has data for the same months

all_locations = ["Amsterdam", "Barcelona", "Euskadi", "Geneva", "Ireland", "Lisbon", "Los Angeles", "Madrid", "Malaga", "Mallorca", "Malta", "Menorca", "Mexico City", "Milan", "Naples", 
                 "Rome", "Rotterdam", "San Diego", "San Francisco", "Tokyo", "Toronto", "Valencia", "Vancouver", "Vienna", "Washington", "Winnipeg", "Zurich"]


for location in all_locations:
    one_loc = available_all_loc[available_all_loc["location"] == location]
    all_dates = one_loc["month_year"].unique()
    print(location, all_dates)

Amsterdam <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Barcelona <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Euskadi <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09', '2023-10']
Length: 14, dtype: period[M]
Geneva <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Ireland <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Lisbon <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Los Angeles <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Madrid <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Malaga <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Mallorca <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Malta <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Menorca <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Mexico City <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Milan <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Naples <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Rome <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Rotterdam <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
San Diego <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
San Francisco <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Tokyo <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Toronto <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Valencia <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Vancouver <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Vienna <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Washington <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Winnipeg <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]
Zurich <PeriodArray>
['2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
 '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09']
Length: 13, dtype: period[M]

As can be seen above, all of the locations have data ranging from 2022-09 to 2023-09, except for Euskadi which has an extra month of data (2023-10). This is an additional month in comparison to the other locations, as such we will remove it to have a consistent range of data between all of the locations. In addition, we can assume that the data for the 2023-10 is incorrect since it predicts there the month has already been fully booked, but when looking at the spread of data for the previous months (almost all of them have at least half of the month unbooked) this seems highly unlikely.

In [7]:
# remove the additional month of data for Euskadi

# Create a boolean mask based on the specified conditions
mask = available_all_loc['month_year'] == "2023-10"

# Use the boolean mask to filter the DataFrame and keep only the rows that don't match the conditions
available_all_loc = available_all_loc[~mask]

# check that we got the result we wanted
available_all_loc[available_all_loc["location"]=="Euskadi"]

   month_year  average_days_available location
26    2022-09                     2.0  Euskadi
27    2022-10                    17.0  Euskadi
28    2022-11                    20.0  Euskadi
29    2022-12                    21.0  Euskadi
30    2023-01                    19.0  Euskadi
31    2023-02                    18.0  Euskadi
32    2023-03                    19.0  Euskadi
33    2023-04                    15.0  Euskadi
34    2023-05                    16.0  Euskadi
35    2023-06                    16.0  Euskadi
36    2023-07                    15.0  Euskadi
37    2023-08                    16.0  Euskadi
38    2023-09                    13.0  Euskadi

We  have no successfully generated a data frame with all of the data required to build our model.

In [2]:
''' 

TO DO:
- do some type of check for outliers and whatnot to show that all of our data is valid (although tbh idk if this is necessary, maybe we can 
    do a check that there is no data where the number of available days > number of days in the month, and also maybe check if there are any
    locations with very strange distributions of availabilities over the months??)
- split the data set into test and train 
- check when the data starts and ends --> if we don't have full months then it won't be valid (e.g. if it starts towards the end of september
    then it's skewed data because it'll say it was either completely free/completely booked for that month)

    
EXAMPLE
    
'''

26

## Data Anaysis

In [ ]:

city = available_all_loc['location'].unique()

NameError: name 'available_all_loc' is not defined

In [5]:
file = pd.read_csv("home_rentals/Ireland/reviews.csv.gz")

In [6]:
file

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,704148680943643330,715761219809350547,2022-09-14,415093097,Guillaume,Louise and her buddy Bohdi are wonderful hosts...
1,606997848080805457,628030426065591294,2022-05-16,427350855,Taynan,Kate Apartament is sparkling clean . She is ea...
2,606997848080805457,631033961631011367,2022-05-20,263380539,Niamh,"Really nice apartment, with everything you nee..."
3,606997848080805457,635363398272267326,2022-05-26,96164395,Jackie,"Great location, spacious apartment and good su..."
4,606997848080805457,637489065335555111,2022-05-29,62628139,Peter,"Good location, easy walking distance to the ma..."
...,...,...,...,...,...,...
1110056,37771431,519750208,2019-08-29,58672654,George,"It was a pleasant stay, due to Robertâ€™s great ..."
1110057,37771431,525773396,2019-09-08,45141196,Esmond,Lovely staying with Robert and family. The roo...
1110058,37771431,530082145,2019-09-15,216358574,Aida,We had a really nice stay with Robert. The roo...
1110059,606130299805738050,691147324135233771,2022-08-11,403300357,Olivier,Appartement superbe et trÃ¨s bien localisÃ© pour...
1110060,606130299805738050,702786335765342599,2022-08-27,1428781,Angela,"Great locatÄ±on, easy publÄ±c transport nearby b..."