In [2]:
'''
CITIES THAT WERE DELETED:
- NEW ZEALAND
- ROME
- LISBON
- IRELAND
- LOS ANGELES
- MALAGA
'''

'\nCITIES THAT WERE DELETED:\n- NEW ZEALAND\n- ROME\n- LISBON\n- IRELAND\n- LOS ANGELES\n- MALAGA\n'

In [3]:
import pandas as pd

In [4]:
file = pd.read_csv("home_rentals\Geneva\calendar.csv.gz")

file["date"].unique()

array(['2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25',
       '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29',
       '2022-09-30', '2022-10-01', '2022-10-02', '2022-10-03',
       '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07',
       '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11',
       '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15',
       '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19',
       '2022-10-20', '2022-10-21', '2022-10-22', '2022-10-23',
       '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27',
       '2022-10-28', '2022-10-29', '2022-10-30', '2022-10-31',
       '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
       '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08',
       '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12',
       '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16',
       '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20',
       '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24',
       '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28',
       '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02',
       '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06',
       '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
       '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14',
       '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18',
       '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22',
       '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
       '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
       '2022-12-31', '2023-01-01', '2023-01-02', '2023-01-03',
       '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07',
       '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-11',
       '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15',
       '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19',
       '2023-01-20', '2023-01-21', '2023-01-22', '2023-01-23',
       '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27',
       '2023-01-28', '2023-01-29', '2023-01-30', '2023-01-31',
       '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-04',
       '2023-02-05', '2023-02-06', '2023-02-07', '2023-02-08',
       '2023-02-09', '2023-02-10', '2023-02-11', '2023-02-12',
       '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16',
       '2023-02-17', '2023-02-18', '2023-02-19', '2023-02-20',
       '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24',
       '2023-02-25', '2023-02-26', '2023-02-27', '2023-02-28',
       '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-04',
       '2023-03-05', '2023-03-06', '2023-03-07', '2023-03-08',
       '2023-03-09', '2023-03-10', '2023-03-11', '2023-03-12',
       '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16',
       '2023-03-17', '2023-03-18', '2023-03-19', '2023-03-20',
       '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24',
       '2023-03-25', '2023-03-26', '2023-03-27', '2023-03-28',
       '2023-03-29', '2023-03-30', '2023-03-31', '2023-04-01',
       '2023-04-02', '2023-04-03', '2023-04-04', '2023-04-05',
       '2023-04-06', '2023-04-07', '2023-04-08', '2023-04-09',
       '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13',
       '2023-04-14', '2023-04-15', '2023-04-16', '2023-04-17',
       '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21',
       '2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25',
       '2023-04-26', '2023-04-27', '2023-04-28', '2023-04-29',
       '2023-04-30', '2023-05-01', '2023-05-02', '2023-05-03',
       '2023-05-04', '2023-05-05', '2023-05-06', '2023-05-07',
       '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11',
       '2023-05-12', '2023-05-13', '2023-05-14', '2023-05-15',
       '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19',
       '2023-05-20', '2023-05-21', '2023-05-22', '2023-05-23',
       '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-27',
       '2023-05-28', '2023-05-29', '2023-05-30', '2023-05-31',
       '2023-06-01', '2023-06-02', '2023-06-03', '2023-06-04',
       '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08',
       '2023-06-09', '2023-06-10', '2023-06-11', '2023-06-12',
       '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16',
       '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20',
       '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-24',
       '2023-06-25', '2023-06-26', '2023-06-27', '2023-06-28',
       '2023-06-29', '2023-06-30', '2023-07-01', '2023-07-02',
       '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06',
       '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10',
       '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14',
       '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18',
       '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22',
       '2023-07-23', '2023-07-24', '2023-07-25', '2023-07-26',
       '2023-07-27', '2023-07-28', '2023-07-29', '2023-07-30',
       '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03',
       '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07',
       '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11',
       '2023-08-12', '2023-08-13', '2023-08-14', '2023-08-15',
       '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-19',
       '2023-08-20', '2023-08-21', '2023-08-22', '2023-08-23',
       '2023-08-24', '2023-08-25', '2023-08-26', '2023-08-27',
       '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31',
       '2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04',
       '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
       '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
       '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
       '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20',
       '2023-09-21', '2023-09-22', '2023-09-23'], dtype=object)

In [5]:
file = pd.read_csv("home_rentals/Ireland/reviews.csv.gz")

In [6]:
file

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,704148680943643330,715761219809350547,2022-09-14,415093097,Guillaume,Louise and her buddy Bohdi are wonderful hosts...
1,606997848080805457,628030426065591294,2022-05-16,427350855,Taynan,Kate Apartament is sparkling clean . She is ea...
2,606997848080805457,631033961631011367,2022-05-20,263380539,Niamh,"Really nice apartment, with everything you nee..."
3,606997848080805457,635363398272267326,2022-05-26,96164395,Jackie,"Great location, spacious apartment and good su..."
4,606997848080805457,637489065335555111,2022-05-29,62628139,Peter,"Good location, easy walking distance to the ma..."
...,...,...,...,...,...,...
1110056,37771431,519750208,2019-08-29,58672654,George,"It was a pleasant stay, due to Robert’s great ..."
1110057,37771431,525773396,2019-09-08,45141196,Esmond,Lovely staying with Robert and family. The roo...
1110058,37771431,530082145,2019-09-15,216358574,Aida,We had a really nice stay with Robert. The roo...
1110059,606130299805738050,691147324135233771,2022-08-11,403300357,Olivier,Appartement superbe et très bien localisé pour...
1110060,606130299805738050,702786335765342599,2022-08-27,1428781,Angela,"Great locatıon, easy publıc transport nearby b..."